<%= link_to 'Basic Rails Client', muppets_path %>
<h1>Muppets, API Client</h1>

<form id="muppets-form">
  <label>Name: <input type="text" name="name"></label>
  <label>Image URL: <input type="text" name="image_url"></label>
  <input type="submit" value="Submit">
</form>

<ul id="muppets-list"></ul>